{% extends "alert/base.html" %}

{% block title %}
    Устройство {{ id_device }}
{% endblock %}

{% block content %}

    <dl class="row">
      <dt class="col-sm-3">Тип устройства и его id:</dt>
      <dd class="col-sm-9">{{ device.type }}, id: {{ device.id }}</dd>

      <dt class="col-sm-3">Адресс:</dt>
      <dd class="col-sm-9">{{ device.address }}</dd>

      <dt class="col-sm-3">Широта:</dt>
      <dd class="col-sm-9">{{ device.Latitude }}</dd>

      <dt class="col-sm-3">Долгота:</dt>
      <dd class="col-sm-9">{{ device.Longitude }}</dd>

      <dt class="col-sm-3">Радиус зоны звукопокрытия:</dt>
      <dd class="col-sm-9">{{ device.radius_soundcover }}</dd>

      <dt class="col-sm-3">Активность на данный момент:</dt>
      {% if device.activity %}
        <dd class="col-sm-9"><strong>Устройство включено</strong></dd>
      {% else %}
        <dd class="col-sm-9">Устройство выключено</dd>
      {% endif %}
    </dl>

    <form action="{% url 'SomeDevice' id_device %}" method="post">{% csrf_token %}
    {% if device.activity %}
        <input type="submit" value="Выключить" class="btn btn-primary">
        <input type="hidden" name="device_id" value="{{ True }}">
    {% else %}
        <input type="submit" value="Включить" class="btn btn-danger">
        <input type="hidden" name="device_id" value="{{ True }}">
    {% endif %}
    </form>

{% endblock %}